.header__container {
  width: 100vw;
  position: fixed;
  margin-bottom: 0.2rem;
  top: 0;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 10px;
  background-color: var(--clr-primary);
  margin-right: 1rem;
}

.hamburger:hover {
  cursor: pointer;
}

.logo {
  width: 6vw;
  height: 6vw;
}

@media screen and (max-width: 700px) {
  .header__container {
    width: 100%;
    height: 4rem;
  }

  .logo {
    width: 4rem;
    height: 4rem;
  }

  .hamburger {
    width: 2.5rem;
    height: 2.5rem;
  }
}
