.image__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  padding: 0;
  margin: 0;
  transition: all 0.5s ease-in;
}

.image__grid__item {
  position: relative;
  width: 100%;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}

.image__grid__item img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 150px;
  object-fit: cover;
  border-radius: 10px;
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.image__grid__item img:hover {
  transform: scale(1);
  transition: transform 0.7s ease-in-out;
  cursor: pointer;
}

.image__text {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 18px;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 2;
  padding-left: 2rem;
}

.image__text__name {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.image__text__location {
  border-left: 4px solid white;
  padding-left: 0.5rem;
}

.image__grid__item:hover .image__text {
  opacity: 1;
}

.image__grid__item:nth-of-type(2) {
  grid-row-end: span 2;
}
.image__grid__item:nth-of-type(6) {
  grid-column-end: span 2;
}

@media (max-width: 768px) {
  .image__grid__item:nth-of-type(6) {
    grid-column-end: span 1;
  }
}
