.modal__bg {
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: var(--clr-secondary);
  position: absolute;
  z-index: 3;
}

.modal__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 4;
}

.close__btn {
  background-color: transparent;
  outline: none;
  border: none;
}

.close__btn:hover {
  cursor: pointer;
}
