.modal__bg {
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: var(--clr-secondary);
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.modal__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 4;
}

.list__item {
  color: white;
}

.close__btn {
  font-size: 2rem;
  background-color: transparent;
  border: none;
  font-weight: 500;
  padding: 0;
}

.close__btn:hover {
  cursor: pointer;
}
