:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --clr-primary: #1b2c58;
  --clr-secondary: #d3a884;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: var(--clr-primary);
}

.logo {
  width: 50vw;
  max-width: 20rem;
  margin: 1rem;
  z-index: 2;
}
.active {
  color: white;
}
